@model MyBlog.DataAccess.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<div class="row col-md-8">
    <div class="col-md-6 col-lg-offset-3">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            <form method="post">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                  <input type="submit" value="kaydet" />
                </div>
            </form>
        }
    </div>
</div>